.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--textSidebar);
  border-radius: 10px;
  background-color: var(--bgSoft);
}

.title {
    color: var(--textSidebar);
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #6ebe25;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}