.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #6ebe25;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}